@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@100&display=swap');

.float {
    position: fixed;
    width: 60px;
    height: 60px;
    bottom: 40px;
    right: 40px;
    background-color: black;
    color: #FFF;
    border-radius: 50px;
    text-align: center;
    font-size: 30px;
    box-shadow: 2px 2px 3px #999;
    z-index: 100;
}

.my-float {
    margin-top: 16px;
}


.imgCarousel {
    height: 400px;
    object-fit: contain;
    /* border: black; */
}

.nav_under:hover {
    text-decoration: underline;
}


.imgGridCard {
    height: 300px;
    object-fit: cover;
}

.fondo {
    background-image: url(../img/oficinas.jpg);
    background-color: #cccccc;
    background-repeat: no-repeat;
    background-size: 1500px auto;
    background-clip: content-box;
}

.formulario {
    background-color: white
}

.navegacion {

    background-color: #ecc42c;
}

body {
    /* background-color: #080F0F; */
    /* background-color: #FCEFEF; */
    /* background-color: #000000; */
    background-color: #f1f1f1;
    /* background-color: #FFF2F1; */
    /* background-color: #ECF8F8; */
    font-family: 'Archivo', sans-serif;
    color: #06070E;
}

footer {
    background-color: #fff;
}

/* 
style="background-color: #f1f1f1;"
style="background-color: rgba(0, 0, 0, 0.2);" */

.logo-text {
    font-size: 0.4rem;
    font-weight: bold;
}

.nav-text {
    font-size: 1rem;
}

h1 {
    font-size: 1.5rem;
    font-weight: bold;
}

h2 {
    font-size: 1.3rem;
}

h3 {
    font-size: 1.1rem;
}

.text-new {
    font-size: 0.6rem;
}
