
footer {
    background-color: #fff;

    .facebook:hover {
        color: #3b5998;
    }

    .instagram:hover {        
        color: #d6249f;
    }

    .twitter:hover {
        color: #00adb5;
    }

    .linkedin:hover {
        color: #0e76a8;
    }
}
