header {

    .navegacion {
        background-color: #ecc42c;
    }
    
    @each $elem, $size in $navSize {
        .#{$elem} {
            font-size: $size;
        }
    }

    .logo-text {
        font-weight: bold;
    }


}